In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("spotify_millsongdata.csv")

In [9]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [10]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [11]:
df.shape

(57650, 4)

In [12]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [13]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [14]:
df.head(10)

,artist,song,text
0,Yello,Who's Gone,"Robo who, Robo gone, Robo what, Robo one \r\n..."
1,Otis Redding,Match Game,Come on honey let's play the match game \r\nY...
2,Procol Harum,Quite Rightly So,For you (whose eyes were opened wide whilst mi...
3,Phil Collins,Testify,I wanna testify \r\nTestify my love for you ...
4,Hank Snow,I Wonder Where You Are Tonight,"Tonight I'm sad, my heart is weary \r\nI'm wo..."
5,Dean Martin,As You Are,As you are my love \r\nAs you are my love \r...
6,XTC,Pink Thing,"Anytime you rise, I'm here, \r\nAnd I'm crazy..."
7,Gordon Lightfoot,I Want To Hear It From You,I want to hear it from you \r\nI want to hear...
8,Beautiful South,Tattoo,Sadness has filled a lonely place \r\nBefore ...
9,Wiz Khalifa,MIA,[Intro] \r\n \r\n[Hook: Wiz Khalifa] \r\nI ...

In [15]:
df['text'][0]

"Robo who, Robo gone, Robo what, Robo one  \r\nRobo where, Robo never, Robo why, Robo clever  \r\nRobo hi, Robo ho in the sky, Robo no  \r\n  \r\nRobo who, Robo gone, Robo what, Robo one  \r\nRobo where, Robo never, Robo why, Robo clever  \r\nRobo hi, Robo ho in the sky, Robo no  \r\n  \r\nWaiting for the Robo  \r\nI'm a universal hobo  \r\nI'm a skinny little creature  \r\nWill he turn into a feature  \r\nOnly visiting the planet  \r\nThat I'm pushing to a circle  \r\nOnly Robo makes me rub it all ?  \r\nThe walls where it begun ?  \r\n  \r\nVisiting your planet  \r\nFor a few thousand days  \r\nNothing to hide  \r\nNo reason to stay  \r\nBreathless at the end of my run  \r\nIt all ends where it begun  \r\n  \r\nRobo who, Robo gone, Robo what, Robo one  \r\nRobo where, Robo never, Robo why, Robo clever  \r\nRobo hi, Robo ho in the sky, Robo no  \r\n  \r\nRobo who, Robo gone, Robo what, Robo one  \r\nRobo where, Robo never  \r\n  \r\nWaiting for the Robo  \r\nI'm a universal hobo  \r\nI'm a skinny little creature  \r\nWill he turn into a feature  \r\nOnly visiting the planet  \r\nThat I'm pushing to a circle  \r\nOnly Robo makes me rub it all ?  \r\nThe walls where it begun ?  \r\n  \r\nVisiting your planet  \r\nFor a few thousand days  \r\nWhatever makes me run?  \r\nHas anybody ever seen the end?  \r\nHere is where it begun  \r\n  \r\nVisiting your planet  \r\nFor a few thousand days  \r\nNothing to hide  \r\nNo reason to stay  \r\nBreathless at the end of my run  \r\nIt all ends where it begun\r\n\r\n"

In [16]:
# df = df.sample(5000)

In [17]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [18]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [19]:
import nltk

In [20]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/shubhamgupta/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [21]:

from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [22]:
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [24]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [25]:
similarity[0]

array([1.00000000e+00, 4.71471883e-04, 1.31339198e-03, ...,
       0.00000000e+00, 3.58538026e-03, 2.06744009e-03])

In [26]:
df[df['song'] == 'Crying Over You']

Empty DataFrame
Columns: [artist, song, text]
Index: []

In [27]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [31]:
df.tail(5)
recommendation('Hands All Over')

['Hand On Heart',
 "He's Got The Whole World In His Hands",
 "He's Got The Whole World In His Hands",
 'Hands To Myself',
 'In Your Hands',
 'Hand Of God',
 'Oh Mother',
 'Get A Little Dirt On',
 'The Gambler',
 'A Dedication',
 "I'm Never Gonna Fall In Love Again",
 "Grandma's Hands",
 'I Have The Touch',
 'His Hands',
 'Laughter In The Rain',
 'Mother Love',
 "Can't Stop Killing You",
 "My Mother's Eyes",
 'Handful Of Dust',
 'Not Gonna Be The One']

In [32]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))